.container {
  position: absolute;
  width: 35%;
  margin-left: 35%;
  border: 2px solid black;
}
.title {
  text-align: center;
}
.input {
  margin-left: 12%;
  width: 60%;
}

li {
  list-style-type: none;
  border: 1px solid black;
  margin-left: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  position: relative;
  width: 80%;
  height: 20px;
}
.item__text {
  float: left;
  position: relative;
}
.btn__done,
.btn__remove {
  float: right;
}
